*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    min-width: 40px;

}
html{
    background: url(not.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


nav .logo{
    font-size: 30px;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    right:0;
    left: 0;
    z-index: 1;
    background: white;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
    height: 100px;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    margin: 0 15px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: 0.1s;
    background: white;
    font-family: cursive;
}

nav ul li a:after{
    content: '';
    width: 0%;
    height: 4px;
    background:  #52B2BF;
    display: block;
    transition: 0.5s linear;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color:  #52B2BF;

}
.h1 h1{
    font-size: 60px;
    margin-top: 70px;
    text-align: center;
    transition: 0.3s;
}
.h1 h1 span{
    margin-left: 15px;
    font-size: 70px; 
    font-family: mv boli;
    color: #1D2951;
}
.h1 h1:hover{
    transform: scale(1.2);
}
.video{
    width: 100%;
}
.video .dis{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}
.video .dis video{
    transition: 0.4s;
    height: 30rem;
}
.video .dis video:hover{
    box-shadow:  0 0 5px #016064,0 0 25px  #016064,0 0 50px #016064,0 0 100px  #016064,0 0 200px  #016064;
    transform: scale(1.2);
}
footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background:  #52B2BF;
    margin-top: 20px;
}
footer .footer-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer .footer-main .footer-tag{
    text-align: center;
}
footer .footer-main .footer-tag h2{
    color:  #1F456E;
}
footer .footer-main .footer-tag p{
    font-family: mv boli ;
    font-weight: bold;
    
}
i{
    font-size: 25px; 
    gap: 5px;
    cursor: pointer;
}
i:hover{
    color: #52B2BF;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
nav .logo:hover{
    transform: scale(0.9);
    color: #52B2BF;
}